header{
    background-color:skyblue;
    padding: 20px;
    font-size: large;
}
input {
    margin-top: 60px;
   /* margin-left: 300px; */
   width: 400px;
   height: 50px;
}
#clear{
    margin: 100px;
    background-color: gainsboro;
}
.btn{
    margin-top: 60px;
}